{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "cms/assets/img/dhvsu_logo.png" %}" rel="icon">
  <link href="{% static "cms/assets/img/dhvsu_logo.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "cms/assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "cms/assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "cms/assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "cms/assets/vendor/quill/quill.snow.css" %}" rel="stylesheet">
  <link href="{% static "cms/assets/vendor/quill/quill.bubble.css" %}" rel="stylesheet">
  <link href="{% static "cms/assets/vendor/remixicon/remixicon.css" %}s" rel="stylesheet">
  <link href="{% static "cms/assets/vendor/simple-datatables/style.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "cms/assets/css/style.css" %}" rel="stylesheet">

  
  {% block head %}{% endblock head %}
  {{ form.media.css }}
</head>

<body style="background-color: #f1f3fa;">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center" style="background-color: maroon;">

    <div class="d-flex align-items-center justify-content-between">
      <a href={% url 'Dashboard' %} class="logo d-flex align-items-center">
        <img src="{% static "cms/assets/img/dhvsu_logo.png" %}" alt="">
        <span style="color: White; font-family: 'Times New Roman', serif;" class="d-none d-lg-block">Clinic Management System</span>
      </a>
      <i style="color: #f6f6f6;" class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span style="color: #f6f6f6;" class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.username }}</h6>
              <span>Authorized Clinic Staff</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% if user.is_staff %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "admin:index" %}">
                <i class="bi bi-gear"></i>
                <span>Admin Dashboard</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "Login" %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside style="background-color: #364150;" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a style="background-color: #364150; color: #f6f6f6;" class="nav-link collapsed" href={% url "Dashboard" %}>
          <i class="bi bi-house"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Patient Data Nav -->

      <hr>
      <li class="nav-heading">Patient</li>

      <li class="nav-item">
        <a style="background-color: #364150; color: #f6f6f6;" class="nav-link collapsed" href={% url "Patient Data" %}>
          <i class="bi bi-people"></i>
          <span>Patient Management</span>
        </a>
      </li><!-- End Patient Data Nav -->

      <li class="nav-item">
        <a style="background-color: #364150; color: #f6f6f6;" class="nav-link collapsed" href="{% url 'department_cases_chart' %}">
          <i class="bi bi-graph-up"></i>
          <span>Patient Data Analytics</span>
        </a>
      </li>
      
      <hr>
      <li class="nav-heading">Logbooks</li>
      
      <li class="nav-item">
        <a style="background-color: #364150; color: #f6f6f6;" class="nav-link collapsed" href={% url "Medcert Data" %}>
          <i class="bi bi-file-earmark-text"></i>
          <span>Medical Certificate Logbook</span>
        </a>
      </li><!-- End Medical Certificate Logbook Nav -->
      
      <li class="nav-item">
        <a style="background-color: #364150; color: #f6f6f6;" class="nav-link collapsed" href={% url "Referral Data" %}>
          <i class="bi bi-journal-medical"></i>
          <span>Hospital Referral Logbook</span>
        </a>
      </li><!-- End Hospital Referral Logbook Nav -->
      
      <li class="nav-item">
        <a style="background-color: #364150; color: #f6f6f6;" class="nav-link collapsed" href={% url "Treatment Data" 0 %}>
          <i class="bi bi-heart-pulse"></i>
          <span>Treatment Logbook</span>
        </a>
      </li><!-- End Treatment Logbook Nav -->

      <hr>
      <li class="nav-heading">Inventory</li>
      
      <li class="nav-item">
        <a style="background-color: #364150; color: #f6f6f6;" class="nav-link collapsed" href={% url "Inventory Data" %}>
          <i class="bi bi-box-seam"></i>
          <span>Inventory Management</span>
        </a>
      </li><!-- End Inventory Nav -->
      
      <li class="nav-item">
        <a style="background-color: #364150; color: #f6f6f6;" class="nav-link collapsed" href={% url "chart" %}>
          <i class="bi bi-bar-chart-line"></i>
          <span>Inventory Data Analytics</span>
        </a>
      </li><!-- End Data Analytics Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    {% block content %}
    
    {% endblock content %}
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "cms/assets/vendor/apexcharts/apexcharts.min.js" %}"></script>
  <script src="{% static "cms/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "cms/assets/vendor/chart.js/chart.umd.js" %}"></script>
  <script src="{% static "cms/assets/vendor/echarts/echarts.min.js" %}"></script>
  <script src="{% static "cms/assets/vendor/quill/quill.js" %}"></script>
  <script src="{% static "cms/assets/vendor/simple-datatables/simple-datatables.js" %}"></script>
  <script src="{% static "cms/assets/vendor/tinymce/tinymce.min.js" %}"></script>
  <script src="{% static "cms/assets/vendor/php-email-form/validate.js" %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static "cms/assets/js/main.js" %}"></script>
  {% block extra_js %}{% endblock extra_js %}
</body>

</html>