{% extends "cms/base.html" %}
{% block title %}Add Inventory{% endblock title %}

{% block head %}{{ form.media.css }}{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card card-body">
                <div class="form-group">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input class="btn btn-success" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--for select2 widget-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}


{% endblock content %}