{% extends "cms/base.html" %}
{% block title %}Inventory{% endblock title %}
{% block head %}{{ form.media.css }}{% endblock head %}
{% block content %}
<div class="container">
    <div class="pagetitle">
        <h1>Inventory</h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'Dashboard'%}">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Inventory Data'%}">Inventory</a></li>
              <li class="breadcrumb-item active">Add/Update</li>
            </ol>
          </nav>
    </div><!-- End Page Title -->
    <div class="row">
        <div class="col-sm">
            <div class="card card-body">
                <div class="form-group">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}"><h4 class="card-title text-danger">{{ message }}</h4></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input class="btn btn-success" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--for select2 widget-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}


{% endblock content %}

{% block extra_js %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>
{% endblock extra_js %}