{% extends "cms/base.html" %}
{% block title %}Medcert Data{% endblock title %}
{% block head %}{{ form.media.css }}{% endblock head %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col">
            <div class="card card-body">
                <h2 class="card-title text-center">Search</h2>
                <hr>
                <div class="form-group">
                    <form method="GET">

                        {% csrf_token %}
                        {{myFilter.form}}
                        <br>
                        <input class="btn btn-primary btn-block" type="submit" value="Search">
                        
                    </form>
                    <hr>
                    <form method="get" action="{% url 'Medcert Export' %}">
                        {% for key, value in request.GET.items %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endfor %}
                        <button type="submit" class="btn btn-secondary">Export Filtered Results</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md">
            <div class="card card-body overflow-scroll">
                <a class="btn btn-success m-3 btn-block" href= {% url "Medcert Add" %}>
                    Add Medical Certificate Record
                </a>
                <hr>
                <table class="table">
                    <tr class="table-primary">
                        <th>ID Number</th>
                        <th>Purpose</th>
                        <th>Note</th>
                        <th>Received</th>
                        <th>Provider</th>
                        <th></th>
                    </tr>
                    {% for Medicalcertificate_logbook in records %}
                    <tr>
                        <td>{{Medicalcertificate_logbook.unique_number}}</td>
                        <td>{{Medicalcertificate_logbook.purpose}} {{patient.middle_name}} {{patient.last_name}} {{patient.suffix}}</th>
                        <td>{{Medicalcertificate_logbook.note}}</td>
                        <td>{{Medicalcertificate_logbook.received}}</td>
                        <td>{{Medicalcertificate_logbook.provider}}</td>
                        <td>
                            <a href="{% url "Medcert Update" Medicalcertificate_logbook.id %}"><button class="btn btn-primary" type="button">Update</button></a>
                            <a href="{% url "Medcert Delete" Medicalcertificate_logbook.id %}"><button class="btn btn-danger" type="button">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

<!--for select2 widget-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock content %}
