{% extends "cms/base.html" %}
{% block title %}Delete Medical Certificate Record{% endblock title %}
{% block content %}
<div class="container">
    <div class="pagetitle">
        <h1>Medical Certificate Records</h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'Dashboard'%}">Dashboard</a></li>
              <li class="breadcrumb-item">Medical Certificate Records</li>
              <li class="breadcrumb-item active">Delete Medical Certificate of {{p}}</li>
            </ol>
          </nav>
    </div><!-- End Page Title -->

    <div class="row">

        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Are you sure you want to delete "{{p}}"?</h5>
                    <div class="form-group">
                        <form action="{% url 'Medcert Delete' p.id %}" method="POST">
                            {% csrf_token %}
                            <a href="{% url "Medcert Data" %}" class="btn btn-secondary">Cancel</a>
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}