{% extends "cms/base.html" %}
{% block title %}Medicine{% endblock title %}
{% block head %}{{ form.media.css }}{% endblock head %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col">
            <div class="card card-body">
                <h2 class="card-title text-center">Search</h2>
                <hr>
                <div class="form-group">
                    <form method="GET">

                        {% csrf_token %}
                        {{myFilter.form}}
                        <br>
                        <input class="btn btn-primary btn-block" type="submit" value="Search">
                        
                    </form>
                    <hr>
                    <form method="get" action="{% url 'Treatment Export' %}">
                        {% for key, value in request.GET.items %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endfor %}
                        <button type="submit" class="btn btn-secondary">Export Filtered Results</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col">
            <div class="card card-body">
                <a class="btn btn-success m-3 btn-block" href= {% url "Medicine Add" %}>
                    Add Medicine
                </a>
                <hr>
                <div class="table-responsive">
                    <table class="table">
                        <tr class="table-primary">
                            <th>Brand Name</th>
                            <th>Generic Name</th>
                            <th>Dosage Form</th>
                            <th>Dosage Strength</th>
                            <th></th>
                        </tr>
                        {% for Medicine in records %}
                        <tr>
                            <td>{{Medicine.brand_name}}</td>
                            <td>{{Medicine.generic_name}}</td>
                            <td>{{Medicine.dosage_form}}</td>
                            <td>{{Medicine.dosage_strength}}</td>
                            <td>
                                <a href="{% url "Medicine Update" Medicine.id %}"><button class="btn btn-primary" type="button">Update</button></a>
                                <a href="{% url "Medicine Delete" Medicine.id %}"><button class="btn btn-danger" type="button">Delete</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

<!--for select2 widget-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock content %}

