{% extends "cms/base.html" %}
{% block title %}Patient Data{% endblock title %}
{% block content %}
<div class="container">
    <div class="pagetitle">
        <h1>Patient Data</h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'Dashboard'%}">Dashboard</a></li>
              <li class="breadcrumb-item active">Patient Data</li>
            </ol>
          </nav>
    </div><!-- End Page Title -->

    <div class="row">

        <div class="col-lg-9">
            <div class="card card-body table-responsive">
                <a class="btn btn-success m-3 btn-block" href= {% url "Patient Add" %}>
                    Add Patient
                </a>
                <hr>
                <div class="table-responsive">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID Number</th>
                                <th>Name</th>
                                <th>Contact Number</th>
                                <th>Sex</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{patient.unique_number}}</td>
                                <td>{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}} {{patient.suffix}}</th>
                                <td>{{patient.contact_number}}</td>
                                <td>{{patient.sex}}</td>
                                <td>{{patient.address}}</td>
                                <td>
                                    <a href="{% url 'Inventory Update' Stock.id %}">
                                        <button class="btn btn-primary" type="button">Update</button>
                                    </a>
                                    <a href="{% url 'Inventory Delete' Stock.id %}">
                                        <button class="btn btn-danger" type="button">Delete</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th>ID Number</th>
                            <th>Name</th>
                            <th>Contact Number</th>
                            <th>Sex</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-body">
                <h2 class="card-title text-center">Search</h2>
                <hr>
                <div class="form-group">
                    <form method="GET">

                        {% csrf_token %}
                        {{myFilter.form.as_p}}
                        <br>
                        <input class="btn btn-primary btn-block" type="submit" value="Search">
                        
                    </form>
                    <hr>
                    <form method="get" action="{% url 'Patient Export' %}">
                        {% for key, value in request.GET.items %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endfor %}
                        <button type="submit" class="btn btn-secondary">Export Filtered Results</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
        
</div>

{% endblock content %}