{% extends "cms/base.html" %}
{% block title %}Delete Patient{% endblock title %}
{% block content %}
<div class="container">

    <div class="row">

        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}"><h4 class="card-title text-danger">{{ message }}</h4></li>
                        {% endfor %}
                    </ul>
                    <h5 class="card-title">Are you sure you want to delete "{{p}}"?</h5>
                    <div class="form-group">
                        <form action="{% url 'Patient Delete' p.id %}" method="POST">
                            {% csrf_token %}
                            <a href="{% url "Patient Data" %}" class="btn btn-secondary">Cancel</a>
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}