{% extends "cms/base.html" %}
{% block title %}Patient Management{% endblock title %}
{% block content %}
<div class="container">
    <div class="pagetitle">
        <h1>Patient Management</h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'Dashboard'%}">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Patient Data'%}">Patient Management</a></li>
              <li class="breadcrumb-item active">Add/Update</li>
            </ol>
          </nav>
    </div><!-- End Page Title -->
    <div class="row">
        <div class="col-sm">
            <div class="card card-body">
                <div class="form-group">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}"><h4 class="card-title text-danger">{{ message }}</h4></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h4 class="card-title">Add Patient Details</h4>
                        {{form.as_p}}
                        <hr>
                        <h4 class="card-title">Add Treatment Record</h4>
                        {{ form_treatment.as_p }}
                        <input class="btn btn-success" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}