{% extends "cms/base.html" %}
{% block title %}Prescription{% endblock title %}
{% block head %}{{ form.media.css }}{% endblock head %}
{% block content %}
<div class="container">
    <div class="pagetitle">
        <h1>Prescription ({{p}})</h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'Dashboard'%}">Dashboard</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'Treatment Data'%}">Treatment Records</a></li>
              <li class="breadcrumb-item active">Prescription ({{p}})</li>
            </ol>
          </nav>
    </div><!-- End Page Title -->
    <div class="row">

        <div class="col-lg-9">
            <div class="card card-body">
                <a class="btn btn-success m-3 btn-block" href= {% url "Prescription Add" %}>
                    Add Prescription
                </a>
                <hr>
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th class="table-primary">Treatment Record ID</th>
                                <th class="table-primary">Medicine</th>
                                <th class="table-primary">Quantity Prescribed</th>
                                <th class="table-primary">Description</th>
                                <th class="table-primary">Actions</th>
                                <th class="table-primary"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for Stock in records %}
                            <tr>
                                <td>{{Prescription.treatment_logbook.id}}</td>
                                <td>{{Prescription.medicine}}</td>
                                <td>{{Prescription.quantity_prescribed}}</td>
                                <td>{{Prescription.description}}</td>
                                <td>
                                    <a href="{% url "Inventory Update" Stock.id %}"><button class="btn btn-primary" type="button">Update</button></a>
                                    <a href="{% url "Inventory Delete" Stock.id %}"><button class="btn btn-danger" type="button">Delete</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-body">
                <h2 class="card-title text-center">Search</h2>
                <hr>
                <div class="form-group">
                    <form method="GET">

                        {% csrf_token %}
                        {{myFilter.form.as_p}}
                        <br>
                        <input class="btn btn-primary btn-block" type="submit" value="Search">
                        
                    </form>
                    <hr>
                    <form method="get" action="{% url 'Treatment Export' %}">
                        {% for key, value in request.GET.items %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endfor %}
                        <button type="submit" class="btn btn-secondary">Export Filtered Results</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
     
</div>

<!--for select2 widget-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock content %}

