{% extends "cms/base.html" %}
{% block title %}Delete Prescription Record{% endblock title %}
{% block content %}
<div class="container">
    <div class="pagetitle">
        <h1>Prescription ({{p}})</h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'Dashboard'%}">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Treatment Data' 0 %}">Treatment Records</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Prescription Data' p.id %}">Prescription ({{p}})</a></li>
              <li class="breadcrumb-item active">Delete Prescription</li>
            </ol>
          </nav>
    </div><!-- End Page Title -->

    <div class="row">

        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}"><h4 class="card-title text-danger">{{ message }}</h4></li>
                        {% endfor %}
                    </ul>
                    <h5 class="card-title">Are you sure you want to delete "{{p}}"?</h5>
                    <div class="form-group">
                        <form action="{% url 'Prescription Delete' p.id fk %}" method="POST">
                            {% csrf_token %}
                            <a href="{% url "Treatment Data" 0 %}" class="btn btn-secondary">Cancel</a>
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}