{% extends "cms/base.html" %}
{% block title %}Delete Referral Record{% endblock title %}
{% block content %}
<div class="container">

    <div class="row">

        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Are you sure you want to delete "{{p}}"?</h5>
                    <div class="form-group">
                        <form action="{% url 'Referral Delete' p.id %}" method="POST">
                            {% csrf_token %}
                            <a href="{% url "Referral Data" %}" class="btn btn-secondary">Cancel</a>
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}