{% extends "cms/base.html" %}
{% block title %}Referral Records{% endblock title %}

{% block head %}{{ form.media.css }}{% endblock head %}

{% block content %}
<div class="container">
    <div class="pagetitle">
        <h1>Referral Records</h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'Dashboard'%}">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{% url 'Referral Data'%}">Referral Records</a></li>
              <li class="breadcrumb-item active">Add/Update</li>
            </ol>
          </nav>
    </div><!-- End Page Title -->
    <div class="row">
        <div class="col-sm">
            <div class="card card-body">
                <div class="form-group">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input class="btn btn-success" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--for select2 widget-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock content %}