{% extends "cms/base.html" %}
{% block title %}Treatment Records{% endblock title %}
{% block head %}{{ form.media.css }}{% endblock head %}
{% block content %}
<div class="container">

    <div class="pagetitle">
        {% if fk == '0' %}
        <h1>Treatment Records</h1>
        {% else %}
        <h1>Treatment Record of {{ p }}</h1>
        {% endif %}
        
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'Dashboard'%}">Dashboard</a></li>
              <li class="breadcrumb-item active">
                {% if fk == '0' %}
                Treatment Records
                {% else %}
                Treatment Record of {{ p }}
                {% endif %}
                </li>
            </ol>
          </nav>
    </div><!-- End Page Title -->

    <div class="row">
        <div class="col-lg-9">
            <div class="card card-body">
                {% if fk == '0' %}
                <hr>
                <h5 class="d-flex justify-content-center"> To add Treatments, Go to Patient Data</h5>
                {% else %}
                <a class="btn btn-success m-3 btn-block" href="{% url 'Treatment Add' fk %}">
                    Add Treatment Record for {{ p }}
                </a>
                {% endif %}
                <hr>
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th class="table-primary">Patient</th>
                                <th class="table-primary">Chief Complaint</th>
                                <th class="table-primary">Prescription</th>
                                <th class="table-primary">Provider</th>
                                <th class="table-primary">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for Treatment_logbook in records %}
                            <tr {% if not Treatment_logbook.prescriptions.all %}class="table-danger"{% endif %}>
                                <td>{{Treatment_logbook.unique_number}}</td>
                                <td>{{Treatment_logbook.description}}</td>
                                <td>
                                    <table class="table table-borderless">
                                        {% for prescription in Treatment_logbook.prescriptions.all %}
                                        <tr>
                                            <td>{{ prescription.quantity_prescribed }}</td>
                                            <td>{{ prescription.medicine.medicine.brand_name }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td class="table-danger" colspan="2">No prescriptions</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td>{{Treatment_logbook.provider}}</td>
                                <td>
                                    <a href="{% url 'Prescription Data' Treatment_logbook.id %}">
                                        <button class="btn btn-success" type="button">Prescriptions</button>
                                    </a>
                                    <a href="{% url 'Treatment Update' Treatment_logbook.id %}">
                                        <button class="btn btn-primary" type="button">Update</button>
                                    </a>
                                    <a href="{% url 'Treatment Delete' Treatment_logbook.id %}">
                                        <button class="btn btn-danger" type="button">Delete</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Table END-->

        <!-- Search -->
        <div class="col-lg-3">
            <div class="card card-body">
                <h2 class="card-title text-center">Advanced Search</h2>
                <hr>
                <div class="form-group">
                    <form method="GET">
                        {% csrf_token %}
                        {{ myFilter.form.as_p }}
                        <br>
                        <input class="btn btn-primary btn-block" type="submit" value="Search">
                    </form>
                    <hr>
                    <form method="get" action="{% url 'Treatment Export' %}">
                        {% for key, value in request.GET.items %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endfor %}
                        <button type="submit" class="btn btn-secondary">Export Filtered Results</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Search END-->
    </div>

    <div class="row my-5">
        
    </div>

<!--for select2 widget-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock content %}
